.App {
  /* text-align: center; */
  /* border: 1px solid black; */
  /* z-index: 999; */
}

.ViewPort {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 100vh; */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  /* Set an appropriate z-index value to ensure it's above other elements */
  /* Additional styling if needed */
  /* background-color: white; */
  /* other styles */
}

.Header {
  background: white;
  display: flex;
  position: sticky;
  top: 0;
}

.Body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* z-index: 999; */
}

.Footer {
  display: flex;
  height: fit-content;
  background: black;
  color: white;
  /* z-index: 2; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}